RewriteEngine On
RewriteBase /mast-poles-manufacturer
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mast-poles-manufacturer/index.html [L]