<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /

    # ==================================================
    # FORCE HTTPS + WWW
    # ==================================================
    RewriteCond %{HTTPS} !=on [OR]
    RewriteCond %{HTTP_HOST} !^www\.jetcotech\.com$ [NC]
    RewriteRule ^ https://www.jetcotech.com%{REQUEST_URI} [R=301,L]


    # ==================================================
    # REMOVE index.php
    # /index.php -> /
    # ==================================================
    RewriteCond %{THE_REQUEST} \s/+index\.php(?:[?\s]|$) [NC]
    RewriteRule ^index\.php$ https://www.jetcotech.com/? [R=301,L]


    # ==================================================
    # CITY + TYPE PRODUCT PAGE
    #
    # /product/manufacturer/ahmedabad
    # ->
    # product-city.php?type=manufacturer&city=ahmedabad
    # ==================================================
    RewriteRule ^product/(manufacturer|supplier|exporter)/([a-zA-Z0-9-]+)/?$ product-city.php?type=$1&city=$2 [L,QSA]

        RewriteRule ^cable-tray-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ cable-tray-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^lighting-poles-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ lighting-poles-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^mast-poles-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ mast-poles-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^frp-products-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ frp-products-city.php?type=$1&city=$2 [L,QSA]

RewriteRule ^high-mast-poles-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ high-mast-poles-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^flag-mast-poles-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ flag-mast-poles-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^stadium-mast-poles-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ stadium-mast-poles-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^signage-mast-pole-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ signage-mast-pole-city.php?type=$1&city=$2 [L,QSA]


RewriteRule ^perforated-cable-tray-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ perforated-cable-tray-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^ladder-cable-tray-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ ladder-cable-tray-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^wire-mesh-cable-tray-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ wire-mesh-cable-tray-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^raceway-cable-tray-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ raceway-cable-tray-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^embossed-perforated-cable-tray-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ embossed-perforated-cable-tray-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^heavy-duty-ladder-cable-tray-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ heavy-duty-ladder-cable-tray-city.php?type=$1&city=$2 [L,QSA]


RewriteRule ^polygonal-octagonal-lighting-poles-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ polygonal-octagonal-lighting-poles-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^swaged-lighting-poles-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ swaged-lighting-poles-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^conical-poles-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ conical-poles-city.php?type=$1&city=$2 [L,QSA]
RewriteRule ^decorative-poles-(manufacturer|supplier|exporter)-in-([a-zA-Z0-9-]+)\.php$ decorative-poles-city.php?type=$1&city=$2 [L,QSA]
    # ==================================================
    # EXISTING FILES
    # ==================================================
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]


    # ==================================================
    # EXISTING DIRECTORIES
    # ==================================================
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]


    # ==================================================
    # HTML -> PHP
    # ==================================================

    RewriteRule ^index\.html$ index.php [L]
    RewriteRule ^about-us\.html$ about.php [L]
    RewriteRule ^clients\.html$ clients.php [L]
    RewriteRule ^facility\.html$ facility.php [L]
    RewriteRule ^certificate\.html$ certificate.php [L]
    RewriteRule ^gallery\.html$ gallery.php [L]
    RewriteRule ^contact-us\.html$ contact-us.php [L]
    RewriteRule ^thankyou\.html$ thankyou.php [L]
    RewriteRule ^become-a-dealer\.html$ become-a-dealer.php [L]

    RewriteRule ^career\.html$ career.php [L]
    RewriteRule ^gallary\.html$ gallary.php [L]
    RewriteRule ^download\.html$ download.php [L]

    RewriteRule ^catalogue\.html$ catalogue.php [L]
    RewriteRule ^catalogue-(.*)\.html$ catalogue.php?data=$1 [L,QSA]


    # ==================================================
    # MAIN PRODUCT CATEGORIES
    # ==================================================

    RewriteRule ^product\.html$ product.php [L]
    RewriteRule ^cable-tray\.html$ cable-tray.php [L]
    RewriteRule ^lighting-poles\.html$ lighting-poles.php [L]
    RewriteRule ^mast-poles\.html$ mast-poles.php [L]
    RewriteRule ^frp-products\.html$ frp-products.php [L]


    # ==================================================
    # CABLE TRAY PRODUCTS
    # ==================================================

    RewriteRule ^heavy-duty-ladder-cable-tray\.html$ heavy-duty-ladder-cable-tray.php [L]
    RewriteRule ^embossed-perforated-cable-tray\.html$ embossed-perforated-cable-tray.php [L]
    RewriteRule ^perforated-cable-tray\.html$ perforated-cable-tray.php [L]
    RewriteRule ^ladder-cable-tray\.html$ ladder-cable-tray.php [L]
    RewriteRule ^wire-mesh-cable-tray\.html$ wire-mesh-cable-tray.php [L]
    RewriteRule ^raceway-cable-tray\.html$ raceway-cable-tray.php [L]
    RewriteRule ^cable-tray-accessories\.html$ cable-tray-accessories.php [L]


    # ==================================================
    # LIGHTING POLES
    # ==================================================

    RewriteRule ^polygonal-octagonal-lighting-poles\.html$ polygonal-octagonal-lighting-poles.php [L]
    RewriteRule ^swaged-lighting-poles\.html$ swaged-lighting-poles.php [L]
    RewriteRule ^conical-poles\.html$ conical-poles.php [L]
    RewriteRule ^decorative-poles\.html$ decorative-poles.php [L]
    RewriteRule ^solar-street-light-poles\.html$ solar-street-light-poles.php [L]


    # ==================================================
    # MAST POLES
    # ==================================================

    RewriteRule ^high-mast-poles\.html$ high-mast-poles.php [L]
    RewriteRule ^flag-mast-poles\.html$ flag-mast-poles.php [L]
    RewriteRule ^stadium-mast-poles\.html$ stadium-mast-poles.php [L]
    RewriteRule ^signage-mast-pole\.html$ signage-mast-pole.php [L]


    # ==================================================
    # FRP / OTHER
    # ==================================================

    RewriteRule ^frp-moulded-&-pultruded-gratings\.html$ frp-moulded-&-pultruded-gratings.php [L]
    RewriteRule ^hot-dip-galvanizing\.html$ hot-dip-galvanizing.php [L]


    # ==================================================
    # OLD CATEGORY URL
    # ==================================================

    RewriteRule ^([^_]*)_([^_]*)\.html$ product.php?cat=$1&type=$2 [L,QSA]

</IfModule>


Options -Indexes
