RewriteEngine On
RewriteBase /lighting-poles-manufacturer
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /lighting-poles-manufacturer/index.html [L]